@import url('https://fonts.googleapis.com/css?family=Cinzel|PT+Serif');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
 /* height:100vh; */
}
header {
  /* height: 8rem;
  border-bottom-style: dotted;
  border-color: rgb(125, 160, 184))
  border-right-style: double;
  color: grey; */
}
.midbody{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left:1rem;
  background-color:contain;
}
h1{
  float:center;
  font-size:7rem;
  font-size: 3.5rem;
  font-family: 'PT Serif', serif;
}

h3 {
  margin-top:2rem;
  font-size: 2.5rem;
  color: rgb(0, 38, 255);
  font-family: 'PT Serif', serif;
  margin-right: 50vw;
  border-bottom-color:grey;
  border-bottom-style:solid
}
.tempF {
  margin-top:7rem;
  font-size: 2.5rem;
  color: rgb(255, 102, 0);
  font-family: 'PT Serif', serif;
  margin-right: 50vw;
  border-bottom-color:grey;
  border-bottom-style:solid;
}

.zip-code {
  margin-top:5rem;
  margin-left: 50vw;
  height: 3rem;
  font-size: 3rem;
  font-family: 'PT Serif', serif;
  border-style: solid;
  border-color: rgb(255, 0, 0))
}

.submit-button {
  margin-left: 50vw;
  height: 6rem;
  font-size: 3rem;
  font-family: 'PT Serif', serif;
  border-style: solid;
  border-color: rgb(255, 0, 0))
  
}

.name {
  margin-top:1rem;
  font-size: 3rem;
  font-family: 'PT Serif', serif;
  color: rgb(140, 0, 255);
 

}

.temp {
  margin-top: 5rem;
  font-size: 4rem;
  font-family: 'PT Serif', serif;
  color: rgb(0, 153, 255);
 
}
.left {
  padding: 1rem;
}

.right {
  padding: 2rem;
  /* background-color: black;
  height: 100vh; */
}

